<p>Convert your <a href="http://runkeeper.com">RunKeeper</a> routes to GPX for use on your Garmin or other mapping device.</div>

<p><strong>To install:</strong> drag the bookmarklet below to your bookmarks bar:</p>

<p class="bookmarkletWrapper"><a id="bookmarklet" href="javascript:<%= bookmarklet %>">Download GPX</a></p>
