<!DOCTYPE html>
<meta charset="utf-8">
<title>RunKeeper-to-GPX</title>
<meta name="description" content="Convert your RunKeeper routes to GPX for use on your Garmin or other mapping device.">
<link rel="stylesheet" href="/style.css">

<h1><a href="/">RunKeeper-to-GPX</a></h1>

<section class="main">
	<%= yield %>
	<hr>
	<form class="donate" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="WFBFG4JZCVJ9N">
		<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
		<img alt="" border="0" src="https://www.paypalobjects.com/nl_NL/i/scr/pixel.gif" width="1" height="1">
	</form>
	<small>&copy; <a href="http://hyzkia.com">Hyzkia</a>. Not affiliated with or endorsed by RunKeeper. <a href="mailto:contact+rk2gpx@hyzkia.com">Email</a> your comments, questions, etc.</small>
</section>

<script src="/scripts.js"></script>