<p>Your route should be downloading now. If it is not:</p>
<form id="downloadForm" action="route.gpx" method="post">
	<input type="hidden" id="routeJson" name="json" value="<%=h @json %>">
	<input type="submit" class="downloadButton" value="Download GPX Route">
</form>
<iframe src="iframe.html" style="display: none"></iframe>
