<p><%= t.route.info %></p>
<form id="downloadForm" action="route.gpx" method="post">
	<input type="hidden" id="routeJson" name="json" value="<%=h @json %>">
	<input type="submit" class="downloadButton" value="<%= t.route.download %>">
</form>
<iframe src="iframe.html" style="display: none"></iframe>
